<h2>Our members</h2>

<div id="human-wrapper">
  <% @humans.each do |human| %>

<div class="human">
  <h3><a href="/humans/<%= human.id %>"><%= human.format_name %></a></h3>
  <p>age: <%= human.age %></p>
    <hr>
  </div>
  <% end %>
</div>
