<h2>Information about humans</h2>

<div id="human-wrapper">
  <% @humans.each do |human| %>

<div class="human">
  <h3><a href="/humans/<%= human.id %>"><%= human.format_name %></a></h3>
  <hr>  
  <p>age: <%= human.age %></p>
  </div>

  <% end %>
</div>
