<h2>Join the gym</h2>
<form method="POST" action="/humans">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name" required/>
    </div>

    <div class="firm-el">
      <label for="surname">Surname:</label>
      <input type="text" name="surname" id="surname" required>
    </div>

    <div class="form-el">
      <label for="age">Age:</label>
      <input type="number" name="age" id="age" required/>
    </div>

    <div class="form-el">
      <input type="submit" value="Join the Gym"/>
    </div>

  </div>
</form>
