<h2>Our classes</h2>

<div id="session-wrapper">
  <% @sessions.each do |session| %>

<div class="sessions">
  <h3><a href="/sessions/<%= session.id %>"><%= session.name %></a></h3>
  <p>Time: <%= session.time %></p>
  <hr>
  </div>



  <% end %>

  <li class="menu-item"><a href="/sessions/new">New class</a></li>

</div>
