<h2>Make a new class</h2>
<form method="POST" action="/sessions">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name of the class:</label>
      <input type="text" name="name" id="name" required>
    </div>

    <div class="form-el">
      <label for="time">Time:</label>
      <input type="time" name="time" id="time" reuired>
    </div>

    <div class="form-el">
      <input type="submit" value="Submit new class">
    </div>

  </div>

</form>
